@import "../../variables";

.schedule-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary;
    box-shadow: 0px 0px 4px 1px $secondary;
    border-radius: 4px;
    margin: 20px 20px 20px 20px;
    padding: 0px;
    cursor: pointer;
}

.card-heading {
    margin: 10px 0 0 0;
}

.location-word {
    font-weight: 900;
}

.game-date {
    font-weight: 700;
}

.game-time {
    font-style: italic;
    font-weight: 200;
}

.opp-img, .home-img {
    max-height: 150px;
    margin: 0px;
}

.matchup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .team-spot {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        .opp-img, .home-img {
            height: 150px;
        }

        p {
            text-align: center;
            font-weight: 600;
        }
    }



    h1 {
        margin: 1rem;
        padding: 0rem;
        font-weight: 200;
        font-size: 1.7rem;
    }
}

.larger {
    font-size: 150%;
}