<app-navbar></app-navbar>
<h2 class="page-title">Settings</h2>
<div class="settings-area-parent">
    <form class="form-parent" [formGroup]="passwordInfo" (ngSubmit)="submitChangePassword()">
        <div class="form-group">
            <label for="oldPasswordInput">Old Password</label>
            <span *ngIf="passwordInfo.controls.oldPassword.invalid && 
                (passwordInfo.controls.oldPassword.dirty || passwordInfo.controls.oldPassword.touched)" class="invalid-form">
                <label *ngIf="passwordInfo.controls.oldPassword.errors?.required" class="invalid-form">
                    Your old password is required.
                </label>
            </span>
            <input type="password" class="form-control" formControlName="oldPassword"
            id="oldPasswordInput" placeholder="Old Password" required>
        </div>
        <div class="form-group">
            <label for="newPasswordInput">New Password</label>
            <span *ngIf="passwordInfo.controls.newPassword.invalid && 
                (passwordInfo.controls.newPassword.dirty || passwordInfo.controls.newPassword.touched)" class="invalid-form">
                <label *ngIf="passwordInfo.controls.newPassword.errors?.required" class="invalid-form">
                    A new password is required.
                </label>
                <label *ngIf="passwordInfo.controls.newPassword.errors?.minlength" class="invalid-form">
                    That password is too short!
                </label>
                <label *ngIf="passwordInfo.controls.newPassword.errors?.maxlength" class="invalid-form">
                    That password is too long!
                </label>
            </span>
            <input type="password" class="form-control" formControlName="newPassword"
            id="newPasswordInput" placeholder="New Password" required>
            <small id="passwordHelp" class="form-text text-muted">Between 8 and 20 characters!</small>
        </div>
        <button type="submit" class="button btn btn-danger"
        [disabled]="passwordInfo.controls.oldPassword.errors || passwordInfo.controls.newPassword.errors"
        >Update Info</button>
    </form>
</div>




