$width: var(--w);
$height: var(--h);

.skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    background-color: #999;
}

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative; 
    
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    
    100% {
      background-position: $width 0; 
    }
}

@function mult($val, $num) {
    @return $val * $num
};