.chat-parent {
    min-width: 300px;
    min-height: 400px;
    background-color: #999;
    border: 3px solid #444;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: 20px 20% 20px 20%;

    .characters-left {
        padding: 0px;
        margin: -15px 0px 5px 20px;
        color: white;
    }

}

.message-area {
    max-height: 600px;
    overflow-y: scroll;
}

.message-input-area {
    padding: 18px 18px 0px 18px;
}

.section-title {
    text-align: center;
}

.btn {
    margin-left: 10px;
}

.table-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 5% 20px 5%;
}

