<h2 class="section-title">Chat</h2>
<div class="chat-parent">
    <div class="message-area">
        <div *ngFor="let msg of messages">
            <app-chat-bubble [username]="msg.username" [messageContent]="msg.messageContent" [timePosted]="msg.timePosted"></app-chat-bubble>
        </div>
    </div>
    <div class="message-input-area input-group mb-3">
        <input type="text" class="form-control" (keyup)="messageChanged($event)" [(ngModel)]='messageToSend' 
        placeholder="Enter a message" aria-label="Message content" aria-describedby="button-addon" [maxlength]="maxMessageLength">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="button-addon" (click)="sendMessage()">Send message</button>
        </div>
    </div>
    <div class="characters-left">
        <small class="characters-left-label">{{ charactersLeft }} characters remaining</small>
    </div>
</div>

