<h2 class="section-title">Chat</h2>
<div class="chat-parent" *ngIf="(messages | json) != ( {} | json); else chatSkeleton">
    <div class="message-area"  #chatBox [scrollTop]="chatBox.scrollHeight">
        <div *ngFor="let msg of messages">
            <app-chat-bubble [username]="msg.username" [messageContent]="msg.messageContent" [timePosted]="msg.timePosted"></app-chat-bubble>
        </div>
    </div>
    <div class="message-input-area input-group mb-3">
        <input type="text" class="form-control" (keyup)="messageChanged($event)" [(ngModel)]='messageToSend' 
        placeholder="Enter a message" aria-label="Message content" aria-describedby="message-send-area" [maxlength]="maxMessageLength">
        <div class="input-group-append">
            <button class="btn btn-info" type="button" id="message-send-area" (click)="sendMessage()">Send message</button>
        </div>
    </div>
    <div class="characters-left">
        <small class="characters-left-label">{{ charactersLeft }} characters remaining</small>
    </div>
</div>
<ng-template #chatSkeleton>
    <app-skeleton [width]="'700px'" [height]="'600px'"></app-skeleton>
</ng-template>

