.site-title {
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 600%;
    font-weight: 900;
}

.site-subtitle {
    text-align: center;
    font-weight: 100;
    font-size: 130%;
    margin: 0px 0px 100px 0px;
}