<div class="footer-parent">
    <div class="footer-content">
        <h2 class="footer-title">Puckdrop</h2>
        <div>
            <h5 class="footer-header">Contact Us</h5>
            <p>support@puckdrop.co</p>
        </div>
        <div>
            <h5 class="footer-header">Legal</h5>
            <p>Terms</p>
            <p>Privacy</p>
        </div> 
        <div>
            <h5 class="footer-header">Follow</h5>
            <a href="https://www.twitter.com" target="blank" class="a-link"><p><i class="fab fa-twitter"></i> Twitter</p></a>
            <a href="https://www.instagram.com" target="blank" class="a-link"><p><i class="fab fa-instagram"></i> Instagram</p></a>
            <a href="https://www.facebook.com" target="blank" class="a-link"><p><i class="fab fa-facebook"></i> Facebook</p></a>
        </div>
    </div>
</div>
